body{
    font-family: Arial;
    color: #000000;
}

.project-logo{
    background: url("/assets/logo_pizza.png") 0 0 no-repeat;
    background-size: 92px;
    width: 92px;
    height: 92px;
    display: block;
    text-indent: -9000pt;
}

header{
    padding: 20px;
    border-bottom: 1px solid #ffc500;
}

#content{
    padding: 20px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

.btn{
    background-color: #ffc500;
    color: #2a2a2a;
    border: none;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    border-radius: 2px;
}

.pagination{
    text-align: center;
    
    li{
        display: inline-block;
        cursor: pointer;
        border: 1px solid #bbbbbb;
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
        background-color: #ffffff;
        border-radius: 2px;
        margin-right: 5px;
        color: #333333;
        font-size: 13px;
        min-width: 26px;
        text-align: center;

        &.active{
            background-color: #ffc500;
            border-color: #ffc500;
        }
    }
}

.loading{
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.loading:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  