* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img, header, footer, section, aside, hgroup, time, figure, figcaption, article, mark, nav, ruby, summary, video, details, dialog, main, mark, wbr {
    display: block;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    outline: 0;
    color: inherit;
    cursor: pointer;
  }
  
  a img {
    border: none;
  }
  
  a:hover{
    cursor: pointer;
  }
  
  ins{
    text-decoration: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  fieldset {
    border: none;
  }
  
  input[type="text"], input[type="password"], textarea, select {
    outline: none;
    font-family: inherit;
  }
  
  input[type="button"], input[type="submit"], button {
    cursor: pointer;
    overflow: visible;
    font-family: inherit;
  }
  
  .clearfix::before {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  
  .clearfix {
    display: block;
  }
  
  .fright {
    float: right !important;
  }
  
  .fleft {
    float: left !important;
  }
  
  img:-moz-loading {
    visibility: hidden;
  }
  
  .clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    display: block;
    width: 100%;
  }