#restorantListContent{
    .filters{
        text-align: right;

        select{
            height: 28px;
            line-height: 28px;
            border: 1px solid #bbb;
            border-radius: 2px;
            margin-left: 5px;
        }
    }

    #restorantList{
        margin: 20px 0;

        .restorant-item{
            display: block;
            border: 1px solid #bbb;
            padding: 10px;
            margin-bottom: 5px;

            &:hover{
                background-color: #f9f9f9;
            }
        }
    }
}