.restorant-item{
    .logo{
        float: left;
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-right: 10px;

        img{
            width: 100%;
        }
    }

    h2{
        margin-bottom: 3px;

        strong{
            color: #ffc500;
        }
    }

    address{
        font-size: 13px;
        margin-bottom: 3px;
    }

    ul{
        margin-top: 10px;
        li{
            margin-right: 3px;
            padding: 0 10px;
            height: 28px;
            line-height: 28px;
            border: 1px solid #cccccc;
            display: inline-block;
            font-size: 13px;
            border-radius: 2px;
        }
    }
}