#restorantInfo{
    margin-bottom: 20px;
}

#restorantSections{
    border: 1px solid #bbb;
    padding: 20px;

    .restorant-section{
        margin-bottom: 10px;

        ul{
            max-width: 480px;

            li{
                border-bottom: 1px solid #f0f0f0;
                position: relative;
                padding: 5px 5px 5px 20px;
                overflow: hidden;
                font-size: 14px;

                button{
                    float: right;
                }

                .price{
                    float: right;
                    margin-right: 20px;
                    font-size: 12px;
                    line-height: 22px;
                }
            }
        }
    }

    h3{
        border-bottom: 1px dashed #cccccc;
        margin-bottom: 5px;
    }
}